<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihetech.thcar.dao.THCarInsertDao">
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="User">
		insert into
		th_user(name,telephone,nickname,openID)
		values(#{name},#{telephone},#{nickname},#{openID})
	</insert>

	<!-- 添加一个车辆信息 -->
	<insert id="insertCarInfo" parameterType="CarInfo">
		insert into 
		car_info(qid,occupied_uid,car_num,telephone,message)
		values(#{qid},#{occupied_uid},#{car_num},#{telephone},#{message})
	</insert>
	
	<!-- 添加一条挪车记录 -->
	<insert id="insertOperatorLog" parameterType="OperatorLog">
		insert into
		th_log(operation_time,operator_phone,operator_uid,operator_openID,car_qid,car_phone,car_num,operator_feedback,location)
		values(#{operation_time},#{operator_phone},#{operator_uid},#{operator_openID},#{car_qid},#{car_phone},#{car_num},#{operator_feedback},#{location})
	</insert>
	
	<!-- 添加一条反馈信息 -->
	<insert id="insertFeedback">
		insert into th_feedback(fb_time,fb_content,fb_uid)
		values(#{fb_time},#{fb_content},#{fb_uid})
	</insert>
	
	<insert id="insertShareLog">
		insert into th_share(uid,share_time,share_content) values(#{uid},#{share_time},#{share_content})
	</insert>

	
</mapper>