<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihetech.thcar.dao.THCarQueryDao">
	<select id="getUser" resultType="User">
		select * from th_user where
		telephone = #{telephone}
	</select>
	<!-- 通过thid查询车辆，如果没有被绑定则occupied_uid、car_num、telephone将为空。 通过occupied_uid（被绑定的用户id） 
		进行车辆查询，如果返回为空，则未绑定任何车辆；可能返回多个车辆（当一个用户有多辆车时） -->
	<select id="getCarInfo" resultType="CarInfo">
		select * from car_info
		<where>
			<choose>
				<when test="thid != null">
					thid = #{thid}
				</when>
				<when test="occupied_uid!=null">
					occupied_uid = #{occupied_uid}
				</when>
			</choose>
		</where>
	</select>
	<!-- 得到分享记录 ，通过uid获取此人所有分享信息， 加入share_type可以得到摸一个具体的分享 -->
	<select id="getMyShareLog" resultType="ShareLog" parameterType="Map">
		SELECT * FROM th_share
		WHERE
		uid=#{uid}
		<if test="share_type != null">AND share_type=#{share_type}</if>

	</select>

	<select id="getMyFeedback" resultType="Feedback">
		SELECT * FROM th_feedback
		WHERE fb_uid={uid}
	</select>

	<!--挪车记录获取 通过operator_uid或car_thid进行获取 operator_uid 得通过openid查询是否存在该用户，来判断是否有此数据， 
		car_thid 车主账号，将可以通过此来查询挪车记录 -->
	<select id="getMyTHLog" resultType="OperatorLog">
		SELECT * FROM th_log
		<where>
			<choose>
				<when test="operator_uid != null">
					operator_uid = #{operator_uid}
				</when>
				<when test="car_thid != null">
					car_thid = #{car_thid}
				</when>
			</choose>
		</where>
	</select>
</mapper>